
p {
font-weight: initial;
font-size: 24pt;
}
h1{
color: #8B1A1A;
text-align: center;
text-shadow: 2px 2px 5px #FF3030;
background-color: #FF6347;
}
background: url(image/left.png) repeat-y, 
url(image/bg-left.png) repeat-y 100%, #fc0;
url(image/right.png) repeat-y, 
url(image/bg-right.png) repeat-y 100%, #fc0;
