
html{
background: 
   background-image: url(https://github.com/evchyk-wrong-lutsenko/evchyk-wrong-lutsenko.github.io/blob/master/left.png);
   background-position: left ;
   background-repeat: repeat-y; 
   background-attachment: scroll; 
}
   body{
   background: 
      background-image: url(https://github.com/evchyk-wrong-lutsenko/evchyk-wrong-lutsenko.github.io/blob/master/right.png);
      background-position: right ; 
      background-repeat: repeat-y; 
      background-attachment: scroll;
}

p {
font-weight: initial;
font-size: 24pt;
}

h1{
color: #8B1A1A;
text-align: center;
text-shadow: 2px 2px 5px #FF3030;
background-color: #FF6347;
}
