
html{
background: 
   background-image: url(hhttps://drive.google.com/thumbnail?id=1NubqRlhf1h4hm4cK_YoRon50jSi8Lbhu&authuser=3&sz=w1349-h614);
   background-position: left ;
   background-repeat: repeat-y; 
   background-attachment: scroll; 
}
   body{
   background: 
      background-image: url(https://drive.google.com/thumbnail?id=1wmLUTQvLh-JClA0Mzx9Zc25ivjoLy62q&authuser=3&sz=w1349-h614);
      background-position: right ; 
      background-repeat: repeat-y; 
      background-attachment: scroll;
}

p {
font-weight: initial;
font-size: 24pt;
}

h1{
color: #8B1A1A;
text-align: center;
text-shadow: 2px 2px 5px #FF3030;
background-color: #FF6347;
}
